{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "printWidth": 200,
  "endOfLine": "auto",
  "embeddedLanguageFormatting": "auto",
  "proseWrap": "always",
  "htmlWhitespaceSensitivity": "ignore",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "insertPragma": false
}
